img { width: 200px; height: 200px; margin: 20px; transition: 0.5s; object-fit: cover; }
.circle { border-radius: 50%; border: 5px solid #1b4d3e; }
.filter { filter: grayscale(100%) blur(1px); }
.filter:hover { filter: grayscale(0%) blur(0px); transform: scale(1.1); }
.shadow { box-shadow: 10px 10px 20px rgba(0,0,0,0.5); border-radius: 15px; }